@keyframes squiggly {
  0% {
    text-decoration-thickness: 1px;
    text-decoration-style: wavy;
  }
  50% {
    text-decoration-thickness: 2px;
    text-decoration-style: wavy;
  }
  100% {
    text-decoration-thickness: 1px;
    text-decoration-style: wavy;
  }
}

.squiggly-hover {
  transition: all 0.3s ease;
}

.squiggly-hover:hover {
  animation: squiggly 0.5s ease infinite;
  text-decoration: underline wavy #1E4A1C;
}
