@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-clip-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* For IE and Edge */
}

/* Ensure scrolling is still enabled */
body {
  overflow-y: scroll; /* Enable vertical scrolling without showing the scrollbar */
}



@keyframes squiggly-anim {
  0% {
    filter: url('#squiggly-0');
  }
  25% {
    filter: url('#squiggly-1');
  }
  50% {
    filter: url('#squiggly-2');
  }
  75% {
    filter: url('#squiggly-3');
  }
  100% {
    filter: url('#squiggly-4');
  }
}

.squiggly {
  animation: squiggly-anim 0.34s linear infinite;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
}
