@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-clip-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* For IE and Edge */
}

/* Ensure scrolling is still enabled */
body {
  overflow-y: scroll; /* Enable vertical scrolling without showing the scrollbar */
}



@keyframes squiggly-anim {
  0% {
    filter: url('#squiggly-0');
  }
  25% {
    filter: url('#squiggly-1');
  }
  50% {
    filter: url('#squiggly-2');
  }
  75% {
    filter: url('#squiggly-3');
  }
  100% {
    filter: url('#squiggly-4');
  }
}

.squiggly {
  animation: squiggly-anim 0.34s linear infinite;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
}


.hover-expand-x {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.hover-expand-x:hover {
  transform: scale(1.1); /* Expand only on the x-axis */
}


@keyframes spin-and-delete {
  0% {
    transform: rotateY(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotateY(180deg) scale(1);
    opacity: 1;
  }
  75% {
    transform: rotateY(270deg) scale(1);
    opacity: 0.7;
  }
  90% {
    transform: rotateY(330deg) scale(0.8);
    opacity: 0.7;
  }
  100% {
    transform: rotateY(360deg) scale(0);
    opacity: 0;
    display: none;
  }
}

.spin-out {
  animation: spin-and-delete 1s ease-in forwards;
}
